{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}

            <!-- Popular movie -->
            <div class="text-center">
        <h3><srtrong>Business news</srtrong> </h3>
        </div>
        <ul>
            {{ macro.displayNewsList(sources)}}
       </ul>

       <!-- Upcoming movie  -->
       <div class="text-center">
       <h3> <srtrong>Sports news</srtrong> </h3>
    </div>

        <ul>
            {{ macro.displayNewsList(sports_sources)}}
       </ul>
       <!-- Now showing movie -->
       <div class="text-center">
       <h3><srtrong>Technology news</srtrong></h3>
    </div>

        <ul>
            {{ macro.displayNewsList(technology_sources)}}
       </ul> 
       <div class="text-center">
       <h3><srtrong>Entertainment news</srtrong></h3>
    </div>
        <ul>
            {{ macro.displayNewsList(entertainment_sources)}}
       </ul>
       {% endblock%}