{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}

            <!-- Popular movie -->
        <h3> Business news</h3>
        <ul>
            {{ macro.displayNewsList(sources)}}
       </ul>

       <!-- Upcoming movie  -->
       <h3> Sports news </h3>
        <ul>
            {{ macro.displayNewsList(sports_sources)}}
       </ul>
       <!-- Now showing movie -->
       <h3>Technology news</h3>
        <ul>
            {{ macro.displayNewsList(technology_sources)}}
       </ul>
       <h3>Entertainment news</h3>
        <ul>
            {{ macro.displayNewsList(entertainment_sources)}}
       </ul>
       {% endblock%}