{% macro displayNewsList(news_list) %}
<div class="container">
<div class="row">
  {% for news in news_list %}
    
        <div class="col-md-4">
                
            <div class="panel panel-default">
            <div class="panel-body">
        <p>
               {{ news.description | truncate(70) }}
        </p>
            
            
                    <!-- <a href="/news/{{news.id}}"> -->
                    <a href="{{url_for('main.articles', id=news.id)}}" class="btn btn-info">

                    {{ news.name|truncate(100)}}</a>
                    
        <!-- <li>{{ news.name}}</li> -->
        </div>
        </div>
        </div>
    {% endfor %}
       </div>
    </div>
{% endmacro %}
